
##################################################
# Common environment dirt (remove on clean)
##################################################

.DS_Store
/.pio.cache/
/.rt/
/node_modules/


##################################################
# Created on PGS Install (remove on clean)
##################################################

/.pgs/
/boot


##################################################
# Created on PGS Expand (remove on clean)
##################################################

/.pgs/.pinf/
/.pgs/program.rt.json
/.distignore
/bin/
/.pinf/
/program.rt.json


##################################################
# Created on PGS Expand (reset on clean)
##################################################

!/README.md
!/.gitignore
!/main.js
!/program.json
!/package.json



# Mark the end of all files that will be cleaned
#@STOP_CLEAN


##################################################
# Created on PGS Install (keep on clean)
##################################################

/.packages/


##################################################
# Custom rules (keep on clean)
##################################################

%%CUSTOMRULES%%

